{minimum_otp_vsn, "22.0"}.

{erl_first_files, ["src/gen_nb_server.erl", "src/riak_core_gen_server.erl",
		   "src/riak_core_stat_xform"]}.

{cover_enabled, true}.

{erl_opts, [warnings_as_errors, debug_info]}.

{edoc_opts, [{preprocess, true}]}.

{eunit_opts, [verbose]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used]}.

{plugins, [{eqc_rebar, {git, "https://github.com/Quviq/eqc-rebar", {branch, "master"}}}]}.

{deps, [
  {poolboy, {git, "https://github.com/nhs-riak/poolboy.git", {branch, "nhse-develop-3.2"}}},
  {riak_sysmon, {git, "https://github.com/nhs-riak/riak_sysmon.git", {branch, "nhse-develop"}}},
  {clique, {git, "https://github.com/nhs-riak/clique.git", {branch, "nhse-develop"}}},
  {eleveldb, {git, "https://github.com/nhs-riak/eleveldb.git", {branch, "nhse-d30-eldb275"}}},
  {leveled, {git, "https://github.com/martinsumner/leveled.git", {branch, "mas-d31-i413"}}},
  {riak_ensemble, {git, "https://github.com/nhs-riak/riak_ensemble", {branch, "nhse-develop"}}},
  {pbkdf2, {git, "https://github.com/nhs-riak/erlang-pbkdf2.git", {branch, "nhse-develop"}}},
  {cluster_info, {git, "https://github.com/nhs-riak/cluster_info.git", {branch, "nhse-develop"}}},
  {exometer_core, {git, "https://github.com/Feuerlabs/exometer_core.git", {tag, "1.6.1"}}},
  {basho_stats, {git, "https://github.com/nhs-riak/basho_stats.git", {branch, "nhse-develop"}}}
]}.

{dialyzer, [{plt_apps, all_deps}]}.

{profiles, [
    {test, [{deps, [meck]}, {erl_opts, [nowarn_export_all]}]},
    {eqc, [{deps, [meck]}, {erl_opts, [{d, 'EQC'}, nowarn_export_all]}]},
    {gha, [{erl_opts, [{d, 'GITHUBEXCLUDE'}]}]}
]}.
